.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*--------------------------------*/
/*App.css Component*/
/*--------------------------------*/

/*App.js Compnent*/

.App {
  margin-right: 80%;
  min-height: 100vh;
  background-color: #5971f2;
  color: #fff;
  font-family: 'lato', 'arial', 'sans-serif';
  font-weight: 600;
  display: flow-root;
  padding-left: 10px
}

.Header {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 30px;
}



/*MessageList Compnent*/

.Message {
  display: inline-flex;
  float: left;
  color: black;
  position: relative;
  left: 120%;
}

.messagecontent {
  position: fixed;
  bottom: 80%;
}

.messagetimestamp {
  position: fixed;
  left: 75%;
  bottom: 80%;
}

.sendmessageform {
  position: fixed;
  bottom: 12%
}

.MessageInput {
  width: 700px;
  padding: 3px;
}

.addmessagebutton {
  position: fixed;
  bottom: 8%;
  width: 120px;
  left: 23.5%;
  background-color: #eee
}

.addmessagebutton:hover {
  position: fixed;
  bottom: 8%;
  width: 120px;
  left: 23.5%;
  background-color: #fff;
  cursor: pointer;
}


/*RoomList Compnent*/

.rooms:hover {
  cursor: pointer;
}

.individualroom {
  list-style: none;
  padding: 5px;
}

.individualroom:hover {
  background-color: #0a7091;
  margin-right: 50px;
  display: inline-block;
}

.individualmessage {
  list-style: none;
  padding: 5px;
}

.addroomform {
  position: fixed;
  top: 85%
}

.addroombutton {
  position: fixed;
  bottom: 8%;
  left: 4%;
  background-color: #e6e6e6;
  width: 105px;
}

.addroombutton:hover {
  cursor: pointer;
  background-color: #fff;
  position: fixed;
  bottom: 8%;
  left: 4%;
  width: 105px;
}

.Input {
  position: fixed;
  left: .5%;
  width: 190px;
  border: black 3px;
  padding: 4px;
}



/*User Compnent*/

.mainuserform {
  position: fixed;
  left: 80%;
  color: black;
  top: 2%;
}

.loginbutton {
  position: fixed;
  right: 10%;
  background-color: #5971f2;
  color: #fff;
  padding: 3px;
  width: 50px;
}

.loginbutton:hover {
  background-color: #788cf4;
  cursor: pointer
}

.signoutbutton {
  position: fixed;
  right: 10%;
  background-color: #5971f2;
  color: #fff;
  padding: 3px;
  width: 60px;
}

.signoutbutton:hover {
  background-color: #788cf4;
  cursor: pointer;
}

.namedisplay {
  position: fixed;
  top: 0%;
  right: 18%;
}
